body {
    background-color: lightblue;
}
.Titulo {
    background-color: black;
    color: white;
    font-size: xx-large;
}
.Subtitulo {
    background-color: white;
    color: black;
    font-size: x-large;
}
.FilaCabecera{
    background-color:blue;
    color:white;
}
.FilaDatos {
    background-color: white;
    color: blue;
}
.Centro{
    text-align:center;
}
.Derecha {
    text-align: right;
}
.Pagina{
    width:40px;
    height:40px;
    border-radius:50%;
    text-align:center;
    background-color:blue;
    color:white;
    cursor:pointer;
}
    .Pagina:hover {
        background-color: white;
        color: blue;
    }
.PaginaSel {
    background-color: white;
    color: blue;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
}
.Orden{
    color:white;
    cursor:pointer;
    text-decoration:underline;
}
.L{
    background-color:gray;
}
/*Estilos para el Popup*/
.PopupContainer {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
}

.PopupWindow {
    position: absolute;
    left: 20%;
    top: 20%;
    width: 60%;
    height: 60%;
    background-color: white;
    border-color: blue;
    border-style: solid;
    border-width: medium;
}

.BarraTitulo {
    height: 30px;
    background-image: none,linear-gradient(to bottom,rgba(255,255,255,.15) 0,rgba(255,255,255,0) 100%);
    background-color: blue;
    border-color: #f85a00;
    color: white;
}

.Icono {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.IconoMedio {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.Cuerpo {
    padding: 20px;
}

.Fila {
    clear: left;
    width: 100%;
}

.Ancho20 {
    float: left;
    width: 20%;
}

.Ancho80 {
    float: left;
    width: 80%;
}

.Imagen {
    width: 120px;
    height: 100px;
}

.Marco {
    margin: 0 auto;
    width: 300px;
    height: 300px;
    padding: 20px;
    border-style: solid;
    border-color: blue;
    border-radius: 10%;
}

.MarcoImagen1 {
    float: left;
    width: 200px;
    height: 140px;
    padding: 20px;
    border-style: solid;
    border-color: blue;
    border-radius: 10%;
}

.MarcoImagen2 {
    float: left;
    width: 200px;
    height: 200px;
    padding: 20px;
    border-style: solid;
    border-color: blue;
    border-radius: 10%;
}

    .MarcoImagen1:hover, .MarcoImagen2:hover {
        border-style: solid;
        border-color: red;
        background-color: yellow;
        cursor: pointer;
    }

.Enlace {
    color: blue;
    cursor: pointer;
    text-decoration: underline;
}