<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Inicio</title>
    <link href="~/Styles/IAJS.css" rel="stylesheet" />
</head>
<body>
    <div>
        <h1>Demo 17: Menu Principal del Sistema</h1>
        <h2><a href='@Url.Content("~")Video/Captura'>Captura</a></h2>
        <h2><a href='@Url.Content("~")Video/Reproduccion'>Reproduccion</a></h2>
    </div>
</body>
</html>
