USE [master]
GO
/****** Object:  Database [BD_IAJS]    Script Date: 25/10/2025 00:19:57 ******/
CREATE DATABASE [BD_IAJS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BD_IAJS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLSERVER\MSSQL\DATA\BD_IAJS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BD_IAJS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLSERVER\MSSQL\DATA\BD_IAJS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BD_IAJS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BD_IAJS]
GO
/****** Object:  User [UsuarioBDIAJS]    Script Date: 25/10/2025 00:19:58 ******/
CREATE USER [UsuarioBDIAJS] FOR LOGIN [UsuarioBDIAJS] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [UsuarioBDIAJS]
GO
/****** Object:  UserDefinedFunction [dbo].[fnSplitStringTable10]    Script Date: 25/10/2025 00:19:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fnSplitStringTable10] 
( 
    @string NVARCHAR(MAX), 
    @rowdelimiter CHAR(1) ,
	@columndemiliter CHAR(1)
) 
RETURNS @output TABLE(

 field1 NVARCHAR(MAX) ,  field2 NVARCHAR(MAX) ,  field3 NVARCHAR(MAX) ,  field4 NVARCHAR(MAX) ,  field5 NVARCHAR(MAX) ,
 field6 NVARCHAR(MAX) ,  field7 NVARCHAR(MAX) ,  field8 NVARCHAR(MAX) ,  field9 NVARCHAR(MAX) , field10 NVARCHAR(MAX) 

) 
BEGIN 

/*
'¯' Listas
'¬' Registros
'¦' Campos

*/

    DECLARE @start INT, @end INT 
	Declare 
	@campo1 NVARCHAR(MAX) = '' ,  @campo2 NVARCHAR(MAX) = '' ,  @campo3 NVARCHAR(MAX) = '' ,  @campo4 NVARCHAR(MAX) = '' ,  @campo5 NVARCHAR(MAX) = '' ,
	@campo6 NVARCHAR(MAX) = '' ,  @campo7 NVARCHAR(MAX) = '' ,  @campo8 NVARCHAR(MAX) = '' ,  @campo9 NVARCHAR(MAX) = '' , @campo10 NVARCHAR(MAX) = '' 

    SELECT @start = 1, @end = CHARINDEX(@rowdelimiter, @string) 
    WHILE @start < LEN(@string) + 1 BEGIN 
        IF @end = 0  
            SET @end = LEN(@string) + 1

		-- ===============================================================================================       
		DECLARE @lstCadena NVARCHAR(MAX)
		DECLARE @lstDato NVARCHAR(MAX)
		DECLARE @lnuPosComa int

		SET @lstCadena = SUBSTRING(@string, @start, @end - @start)	--Cadena de FILA

		declare @cuentacampos int = 0
		WHILE  LEN(@lstCadena)> 0
		BEGIN
			SET @lnuPosComa = CHARINDEX(@columndemiliter, @lstCadena ) -- Buscamos el caracter separador
			IF ( @lnuPosComa=0 )
			BEGIN
				SET @lstDato = @lstCadena
				SET @lstCadena = ''
			END
			ELSE
			BEGIN
				SET @lstDato = Substring( @lstCadena , 1  , @lnuPosComa-1)
				SET @lstCadena = Substring( @lstCadena , @lnuPosComa + 1 , LEN(@lstCadena))
			END
	
			set @cuentacampos = @cuentacampos +1 

			if @cuentacampos =  1 set  @campo1 = @lstDato
			if @cuentacampos =  2 set  @campo2 = @lstDato
			if @cuentacampos =  3 set  @campo3 = @lstDato
			if @cuentacampos =  4 set  @campo4 = @lstDato
			if @cuentacampos =  5 set  @campo5 = @lstDato
			if @cuentacampos =  6 set  @campo6 = @lstDato
			if @cuentacampos =  7 set  @campo7 = @lstDato
			if @cuentacampos =  8 set  @campo8 = @lstDato
			if @cuentacampos =  9 set  @campo9 = @lstDato
			if @cuentacampos = 10 set @campo10 = @lstDato



		END
		-- ===============================================================================================       

		INSERT INTO @output ( 
			field1 , field2 , field3 , field4 , field5 , field6 , field7 , field8 , field9 , field10 ) 
        VALUES( 
			@campo1 , @campo2 , @campo3 , @campo4 , @campo5 , @campo6 , @campo7 , @campo8 , @campo9 , @campo10 ) 

		Select  
			@campo1 = '' ,  @campo2 = ''  ,  @campo3 = ''  ,  @campo4 = ''  ,  @campo5 = ''  ,
			@campo6 = '' ,  @campo7 = ''  ,  @campo8 = ''  ,  @campo9 = ''  , @campo10 = ''  

        SET @start = @end + 1 
        SET @end = CHARINDEX(@rowdelimiter, @string, @start)
        
    END 
    RETURN 
END
GO
/****** Object:  Table [dbo].[Empleado]    Script Date: 25/10/2025 00:19:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleado](
	[IdEmpleado] [int] IDENTITY(1,1) NOT NULL,
	[Apellidos] [varchar](50) NULL,
	[Nombres] [varchar](50) NULL,
	[DocIdentidad] [varchar](15) NULL,
	[FechaNac] [date] NULL,
	[Sexo] [char](1) NULL,
	[Usuario] [varchar](20) NULL,
	[EmbeddingFoto] [varchar](max) NULL,
	[IdRol] [int] NULL,
 CONSTRAINT [PK_Empleado] PRIMARY KEY CLUSTERED 
(
	[IdEmpleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Menu]    Script Date: 25/10/2025 00:19:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Menu](
	[IdMenu] [int] NOT NULL,
	[Nombre] [varchar](50) NULL,
	[Url] [varchar](100) NULL,
 CONSTRAINT [PK_Menu] PRIMARY KEY CLUSTERED 
(
	[IdMenu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MenuRol]    Script Date: 25/10/2025 00:19:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MenuRol](
	[IdMenuRol] [int] NOT NULL,
	[IdMenu] [int] NULL,
	[IdRol] [int] NULL,
 CONSTRAINT [PK_MenuRol] PRIMARY KEY CLUSTERED 
(
	[IdMenuRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rol]    Script Date: 25/10/2025 00:19:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rol](
	[IdRol] [int] NOT NULL,
	[NombreRol] [varchar](50) NULL,
 CONSTRAINT [PK_Rol] PRIMARY KEY CLUSTERED 
(
	[IdRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Empleado] ON 

SET IDENTITY_INSERT [dbo].[Empleado] OFF
GO
INSERT [dbo].[Menu] ([IdMenu], [Nombre], [Url]) VALUES (1, N'Actualizacion Datos', N'ActualizarEmpleado')
INSERT [dbo].[Menu] ([IdMenu], [Nombre], [Url]) VALUES (2, N'Consulta de Empleados', N'ConsultaEmpleados')
GO
INSERT [dbo].[MenuRol] ([IdMenuRol], [IdMenu], [IdRol]) VALUES (1, 1, 1)
INSERT [dbo].[MenuRol] ([IdMenuRol], [IdMenu], [IdRol]) VALUES (2, 2, 1)
INSERT [dbo].[MenuRol] ([IdMenuRol], [IdMenu], [IdRol]) VALUES (3, 1, 2)
GO
INSERT [dbo].[Rol] ([IdRol], [NombreRol]) VALUES (1, N'Administrador')
INSERT [dbo].[Rol] ([IdRol], [NombreRol]) VALUES (2, N'Usuario')
GO
/****** Object:  StoredProcedure [dbo].[uspEmpleadoGrabarCsv]    Script Date: 25/10/2025 00:19:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[uspEmpleadoGrabarCsv]
	@Data varchar(max)
As
Begin
	Set NoCount On
	Declare @IdGenerado int
	Declare @IdEmpleado varchar(10)
	Declare @Apellidos varchar(50)
	Declare @Nombres varchar(50)
	Declare @DocIdentidad varchar(15)
	Declare @FechaNac varchar(10)
	Declare @Sexo char(1)
	Declare @Usuario varchar(20)
	Declare @EmbeddingFoto varchar(max)
	Select @IdEmpleado=field1,@Apellidos=field2,@Nombres=field3,@DocIdentidad=field4,
	@FechaNac=field5,@Sexo=field6,@Usuario=field7,@EmbeddingFoto=field8
	from fnSplitStringTable10(@Data,'└','|')

	If @IdEmpleado=''
		Begin
			Insert Into Empleado(Apellidos,Nombres,DocIdentidad,FechaNac,Sexo,Usuario,EmbeddingFoto)
			Values(@Apellidos,@Nombres,@DocIdentidad,@FechaNac,@Sexo,@Usuario,@EmbeddingFoto)
			Set @IdGenerado = @@IDENTITY
		End
	Else
		Begin
			Set @IdGenerado = convert(int,@IdEmpleado)
			Update Empleado Set 
			Apellidos=@Apellidos,
			Nombres=@Nombres,
			DocIdentidad=@DocIdentidad,
			FechaNac=@FechaNac,
			Sexo=@Sexo,
			Usuario=@Usuario,
			EmbeddingFoto=@EmbeddingFoto
			Where IdEmpleado=convert(int,@IdEmpleado)
		End
	Select convert(varchar,@IdGenerado)
End
GO
/****** Object:  StoredProcedure [dbo].[uspEmpleadoListarCsv]    Script Date: 25/10/2025 00:19:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[uspEmpleadoListarCsv]
As
Select 'Id|Apellidos|Nombres|DocIdentidad|FechaNac|Sexo|Usuario¬' + 
	'70|150|150|100|100|50|150¬' +
	'Int32|String|String|String|String|String|String¬' +
	isnull((Select STUFF((Select '¬' + convert(varchar,IdEmpleado) + '|' + Apellidos + '|' + 
	Nombres + '|' + DocIdentidad + '|' + convert(varchar,FechaNac,105) + '|' + Sexo + '|' + Usuario
	From Empleado
	Order By 1
	FOR XML PATH('')), 1, 1, '')),'')
GO
/****** Object:  StoredProcedure [dbo].[uspEmpleadoObtenerEmbedding]    Script Date: 25/10/2025 00:19:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[uspEmpleadoObtenerEmbedding]
	@Usuario varchar(20)
As
Select EmbeddingFoto From Empleado
Where Usuario=@Usuario
GO
/****** Object:  StoredProcedure [dbo].[uspEmpleadoValidarUsuario]    Script Date: 25/10/2025 00:19:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[uspEmpleadoValidarUsuario]
	@Usuario varchar(20)
As
Select IdRol From Empleado
Where Usuario=@Usuario
GO
/****** Object:  StoredProcedure [dbo].[uspMenuRolListarCsv]    Script Date: 25/10/2025 00:19:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[uspMenuRolListarCsv]
	@IdRol int
As
	Select isnull((Select STUFF((Select '¬' + convert(varchar,b.IdMenu) + '|' + b.Nombre + '|' + b.Url
	From MenuRol a
	Inner Join Menu b On b.IdMenu=a.IdMenu
	Where a.IdRol=@IdRol
	Order By 1
	FOR XML PATH('')), 1, 1, '')),'')
GO
USE [master]
GO
