<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Inicio</title>
</head>
<body style="background-color:lightblue">
    <div>
        <h1>Demo 02: Paint con JavaScript y el Canvas</h1>
        <div>
            <input id="btnLimpiar" type="button" value="Limpiar" />
        </div>
        <div>
            <canvas id="canvas" width="1000" height="500"></canvas>
        </div>        
    </div>
    <script src="~/Scripts/Inicio.js"></script>
</body>
</html>
